[Unit]
Description=SuperCollider Language Server
After=network.target sound.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/bin/bash -c 'exec tail -f /dev/null | /usr/bin/sclang &> /tmp/sclang.log'
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target